# Node.js
node_modules/

# Build files
build/
dist/
*.log

# Environment variables
.env

# Dependency directories
.pnp/
.pnp.js

# IDE and text editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Cache files
*.log
*.cache
*.swp
*.tmp

# Miscellaneous
*.bak
*.backup
*.class
*.dll
*.jar
*.min.*
*.msi
*.orig
*.sql
*.tgz
*.zip
